@import "tailwindcss";

:root {
  background-color: var(--dark-background);
}

@theme {
  --primary: #00a9a5;
  --action: #ff6b35;
  --secondary: #7bc950;
  --background: #f7f4ea;
  --text-color: #333333;
}

/* @media (prefers-color-scheme: dark) {
  --dark-principal: #0a192f;
  --dark-action: #ffc857;
  --dark-secondary: #4ae3b5;
  --dark-background: #1c1c1c;
  --text-color: #e5e5e5;
} */
